# bazel config

# Build
build --spawn_strategy=standalone
build -c opt
# Do not show warnings from external dependencies.
build --output_filter="^//"
build --show_timestamps
# build with profiling
build:cpu_prof --linkopt=-lprofiler
build --copt="-Werror=sign-compare"
build --copt="-Werror=return-type"
build --copt="-Werror=reorder"
build --copt="-Werror=unused-variable"
build --copt="-Werror=unused-but-set-variable"
build --copt="-Werror=switch"
build --copt="-O3"

# Make Bazel print out all options from rc files.
build --announce_rc

# By default, build TF in C++ 14 mode.
build:linux --cxxopt=-std=c++14
build:linux --host_cxxopt=-std=c++14
build:macos --cxxopt=-std=c++14
build:macos --host_cxxopt=-std=c++14
build:windows --cxxopt=/std:c++14
build:windows --host_cxxopt=/std:c++14

# Test
test --spawn_strategy=standalone



