# bazel config

# Build
build --spawn_strategy=standalone
build -c opt
# Do not show warnings from external dependencies.
build --output_filter="^//"
build --show_timestamps
# build with profiling
build:cpu_prof --linkopt=-lprofiler
build --cxxopt=-std=c++14
build --copt="-Werror=sign-compare"
build --copt="-Werror=return-type"
build --copt="-Werror=reorder"
build --copt="-Werror=unused-variable"
build --copt="-Werror=switch"
build --copt="-O3"

# Make Bazel print out all options from rc files.
build --announce_rc

# Test
test --spawn_strategy=standalone



